.blue1{
    width: 96%;
    height: 36vw;
    background-color: #050827;
    margin-top: 3vw;
    position: absolute;
}
.blue1_mainmug{
    height: 36vw;
    width:auto;
    margin-left: 16vw;
    position: absolute;
}
.blue1_bestplace{
    color: white;
    position: absolute;
    margin-left: 40vw;
    font-size: 0.9vw;
    font-weight: lighter;
    letter-spacing: 0.15vw;
    margin-top: 10vw;
}
.blue1_cofmugs{
    position: absolute;
    font-size: 3.5vw;
    color: white;
    margin-left: 37.5vw;
    font-weight: lighter;
    margin-top: 13.5vw;
}
.blue1_aboutcofmugs{
    position: absolute;
    font-size: 1.2vw;
    color: white;
    margin-left: 22vw;
    font-weight: lighter;
    margin-top: 17.5vw;
}