.blue2{
    width: 98%;
    margin-left: 2%;
    height: 24vw;
    background-color: #1D1F2E;
    margin-top: 3vw;
    position: absolute;

}
.signup{
    color: white;
    position: absolute;
    margin-left: 40vw;
    font-size: 0.9vw;
    font-weight: lighter;
    letter-spacing: 0.15vw;
    margin-top: 6vw;
}
.cofupd{
    position: absolute;
    font-size: 2.7vw;
    color: white;
    margin-left: 40.5vw;
    font-weight: lighter;
    margin-top: 10vw;
}
.form{
    position: absolute;
}
.email{
    color: white;
    margin-left: 33vw;
    margin-top: 15vw;
    padding-left: 2vw;
    padding-right: 11.2vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border: rgb(71, 71, 71) solid 1px;
}
.subscribe{
    background: white;
    margin-left: 59.6vw;
    margin-top: 15.1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1.3vw;
    padding-top: 1.3vw;
    overflow: hidden;
    color: #1D1F2E;
}
.subscribe:hover{
    background-color: #c1bfbf;
    color: #A25F4B;
}